# CARISMA and CANOPUS

Short notebook demonstrating the CARISMA and CANOPUS modules.

CANOPUS data is similar to CARISMA data and hosted by the University of Alberta. Data must be downloaded from the website before loading as a CANOPUS data server does not exist.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
# import modules
import gmag.arrays.carisma as carisma
from gmag import utils
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# list the local and remote file locations and file names
# used for download and loading data
fl = carisma.list_files('GILL','2012-01-01',ndays=4)
fl.head()

In [ ]:
# download a single station of data
carisma.download('GILL','2021-02-09',ndays=1)

In [3]:
# load data and meta data from 2 sites for a single day
c_dat, c_meta=carisma.load(['ISLL','GILL'],'2019-01-04',ndays=1,drop_flag=False)

Downloading Data:
File 20190104ISLL.F01.gz exists use force=True to download
Loading: D:\data\magnetometer\CARISMA\2019\01\04\20190104ISLL.F01.gz
Downloading Data:
File 20190104GILL.F01.gz exists use force=True to download
Loading: D:\data\magnetometer\CARISMA\2019\01\04\20190104GILL.F01.gz

In [4]:
# show the loaded DataFrame
c_dat.head()

,ISLL_X,ISLL_Y,ISLL_Z,ISLL_flag,GILL_X,GILL_Y,GILL_Z,GILL_flag,ISLL_H,ISLL_D,GILL_H,GILL_D
t,,,,,,,,,,,,
2019-01-04 00:00:00,12098.819,52.047,57679.853,.,11474.709,-373.669,58241.237,.,12098.795448,57.260800,11478.297248,-239.306193
2019-01-04 00:00:01,12098.841,52.034,57679.850,.,11474.700,-373.672,58241.184,.,12098.817453,57.247810,11478.288283,-239.309298
2019-01-04 00:00:02,12098.844,52.041,57679.831,.,11474.800,-373.600,58241.197,.,12098.820450,57.254811,11478.387433,-239.236132
2019-01-04 00:00:03,12098.844,52.047,57679.825,.,11474.728,-373.703,58241.150,.,12098.820448,57.260811,11478.316644,-239.339968
2019-01-04 00:00:04,12098.847,52.059,57679.819,.,11474.797,-373.637,58241.178,.,12098.823443,57.272812,11478.384867,-239.273164

In [7]:
# show the meta data
c_meta
c_meta['Coordinates'][0]

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,Coordinates,PI,Institution
0,CARISMA,ISLL,Island Lake,53.856,265.34,63.02717,335.6151,-0.024691,4.860886,6.879090,17.12091,2019,1.0,"Geographic North - X, Eas - Y, Vertical Down -...",Ian Mann,University of Alberta
1,CARISMA,GILL,Gillam,56.376,265.36,65.40524,335.3998,-0.670791,5.772988,6.893449,17.10655,2019,1.0,"Geographic North - X, Eas - Y, Vertical Down -...",Ian Mann,University of Alberta

'Geographic North - X, Eas - Y, Vertical Down - Z, Geomagnetic North - H, East- D, Vertical Down - Z'

In [ ]:
# Read in all Carisma Data for a particular day
car_stn = utils.load_station_coor(param='CARISMA',col='array')
c_dat2, c_meta2 = carisma.load(list(car_stn['code']),'2020-01-02')
c_meta2

In [ ]:
# load some canopus data
import gmag.arrays.canopus as canopus
can_d, can_m=canopus.load('GILL','1995-06-23',ndays=1)
can_d.head()

In [ ]:
can_m