In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
import gmag.arrays.carisma as carisma
import gmag.arrays.image as image
import gmag.arrays.themis as themis
import gmag.arrays.canopus as canopus
from gmag import utils
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
sdate = '2011-01-01'
ndays = 1

In [ ]:
#load data
df_c=carisma.load('GILL',sdate,ndays=ndays,dl=True)
df_i=image.load('KIL',sdate,ndays=ndays,dl=True)
df_t=themis.load('GILL',sdate,ndays=ndays,dl=True)

In [ ]:
df_i.tail(n=50)

In [ ]:
r = df_c.join(df_i, how="outer")
r2 = r.join(df_t, how="outer")
r2.tail(50)

In [3]:
#load data
df_c, meta=canopus.load('GILL','1995-06-23',ndays=1)

Downloading Data:
Loading: D:\data\magnetometer\CANOPUS\1995\06\GILL\19950623GILL.MAG.gz

In [5]:
meta

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,Coordinates,PI,Institution
0,CARISMA,GILL,Gillam,56.376,265.36,66.84059,331.1776,1.751694,6.465065,7.07629,16.92371,1995,5.0,"Geographic North - X, Eas - Y, Vertical Down -...",Ian Mann,University of Alberta