In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
import gmag.arrays.image as image
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
fl = image.list_files('2012-01-01',ndays=2)
fl.head()

In [ ]:
#test download
image.download('2019-01-01',ndays=10, force=True)

In [3]:
df, meta=image.load(site='AND',sdate='2020-01-01',ndays=1)

File image2020010100.col2.gz exists use force=True to download
D:\data\magnetometer\IMAGE\2020\01\image2020010100.col2.gz

In [4]:
df.head()
df.tail()

                       AND_X   AND_Y    AND_Z
t
2020-01-01 00:00:00  10851.9  1426.8  52355.0
2020-01-01 00:00:10  10851.9  1426.6  52354.8
2020-01-01 00:00:20  10852.0  1426.6  52354.8
2020-01-01 00:00:30  10852.0  1426.6  52354.8
2020-01-01 00:00:40  10852.1  1426.7  52354.7

                       AND_X   AND_Y    AND_Z
t
2020-01-01 23:59:10  10853.6  1420.6  52361.4
2020-01-01 23:59:20  10853.8  1420.6  52361.5
2020-01-01 23:59:30  10853.9  1420.7  52361.3
2020-01-01 23:59:40  10854.0  1420.6  52361.3
2020-01-01 23:59:50  10853.9  1420.7  52361.2

In [5]:
meta

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,PI,Institution
0,IMAGE,AND,Andenes,69.3,16.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Liisa Juusola,Finnish Meteorological Institute

In [ ]:
# not you can plot with panda's, however there
#is an issue with determining the x-axis ticks
#which serverly slows plotting and is extremely
#memory intesive
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
plt.plot(df['AND_X'])