# IMAGE 

Short notebook demonstrating the IMAGE module.

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
import gmag.arrays.image as image
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# list the file name and directory for loading data
fl = image.list_files('2012-01-01',ndays=2)
fl.head()

        date                    fname                                 dir
0 2012-01-01  image2012010100.col2.gz  D:\data\magnetometer\IMAGE\2012\01
1 2012-01-02  image2012010200.col2.gz  D:\data\magnetometer\IMAGE\2012\01

In [4]:
# download a single days of data
image.download('2021-01-01')

File image2021010100.col2.gz exists use force=True to download

In [5]:
# load data from 4 stations 
im_d, im_m=image.load(site=['AND','KIL','SOD','SOR'],sdate='2019-01-01',ndays=1)

File image2019010100.col2.gz exists use force=True to download
D:\data\magnetometer\IMAGE\2019\01\image2019010100.col2.gz

In [6]:
im_d.head()

,AND_X,AND_Y,AND_Z,KIL_X,KIL_Y,KIL_Z,SOD_X,SOD_Y,SOD_Z,SOR_X,SOR_Y,SOR_Z,AND_H,AND_D,KIL_H,KIL_D,SOD_H,SOD_D,SOR_H,SOR_D
t,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,10867.6,1398.7,52336.6,10930.2,1166.3,52030.7,11221.3,2425.6,51766.0,10164.3,1881.6,52292.3,10956.799773,98.133477,10974.599689,-622.647086,11480.109837,90.483041,10336.984239,-13.034400
2019-01-01 00:00:10,10868.1,1397.5,52337.3,10929.8,1164.2,52029.3,11223.6,2424.1,51765.7,10159.5,1881.3,52291.7,10957.153719,96.882589,10973.864252,-624.654356,11482.056320,88.546239,10332.210555,-12.449644
2019-01-01 00:00:20,10869.4,1396.6,52336.1,10930.6,1161.8,52028.0,11224.7,2423.0,51765.6,10154.2,1879.4,52290.6,10958.337632,95.834566,10974.264236,-627.152358,11482.909359,87.245345,10326.652114,-13.346157
2019-01-01 00:00:30,10869.2,1395.3,52335.9,10929.4,1159.9,52027.0,11224.2,2422.4,51765.3,10149.2,1877.5,52289.8,10957.984656,94.567520,10972.771851,-628.832473,11482.297686,86.759694,10321.388592,-14.297649
2019-01-01 00:00:40,10867.5,1394.5,52335.9,10927.1,1159.1,52025.7,11223.4,2422.2,51765.0,10146.5,1877.1,52290.9,10956.201677,93.975078,10970.372524,-629.248683,11481.473724,86.726738,10318.661014,-14.196058

In [7]:
im_m

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,Coordinates,PI,Institution
0,IMAGE,AND,Andenes,69.30,16.03,66.72492,98.78456,6.820710,6.404496,22.66780,1.332204,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
1,IMAGE,KIL,Kilpisjärvi,69.06,20.77,66.28335,102.44590,9.337875,6.181388,22.42371,1.576292,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
2,IMAGE,SOD,Sodankylä,67.37,26.63,64.36849,106.27150,11.745830,5.343969,22.16867,1.831332,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute
3,IMAGE,SOR,Soroya,70.54,22.22,67.74125,104.64700,10.560030,6.969525,22.27697,1.723034,2019,10.0,"Geographic North - X, Eas - Y, Vertical Down -...",Liisa Juusola,Finnish Meteorological Institute