In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

%matplotlib notebook

In [2]:
import gmag.arrays.themis as themis
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
fl = themis.list_files('KUUJ','2012-01-01',ndays=2)
fl.head()

,date,fname,dir,hdir
0,2012-01-01,thg_l2_mag_kuuj_20120101_v01.cdf,D:\data\magnetometer\THEMIS\kuuj\2012,http://themis.ssl.berkeley.edu/data/themis/thg...
1,2012-01-02,thg_l2_mag_kuuj_20120102_v01.cdf,D:\data\magnetometer\THEMIS\kuuj\2012,http://themis.ssl.berkeley.edu/data/themis/thg...

In [5]:
#test download
themis.download('KUUJ','2022-01-21')

100% [..........................................................................] 1350459 / 1350459

In [6]:
#test load
df, meta=themis.load(['GILL','ATHA','FSMI','CMO','KIL'],'2010-01-01',ndays=1)

Downloading Data:
File thg_l2_mag_gill_20100101_v01.cdf exists use force=True to download
Loading: D:\data\magnetometer\THEMIS\gill\2010\thg_l2_mag_gill_20100101_v01.cdf
['Magnetic North', 'Magnetic East', 'Vertical Down']
Downloading Data:
File thg_l2_mag_atha_20100101_v01.cdf exists use force=True to download
Loading: D:\data\magnetometer\THEMIS\atha\2010\thg_l2_mag_atha_20100101_v01.cdf
['Magnetic North', 'Magnetic East', 'Vertical Down']
Downloading Data:
File thg_l2_mag_fsmi_20100101_v01.cdf exists use force=True to download
Loading: D:\data\magnetometer\THEMIS\fsmi\2010\thg_l2_mag_fsmi_20100101_v01.cdf
['Magnetic North', 'Magnetic East', 'Vertical Down']
Downloading Data:
File thg_l2_mag_cmo_20100101_v01.cdf exists use force=True to download
Loading: D:\data\magnetometer\THEMIS\cmo\2010\thg_l2_mag_cmo_20100101_v01.cdf
['Magnetic North', 'Magnetic East', 'Vertical Down']
Downloading Data:
File thg_l2_mag_kil_20100101_v01.cdf exists use force=True to download
Loading: D:\data\magnetometer\THEMIS\kil\2010\thg_l2_mag_kil_20100101_v01.cdf
['Magnetic North', 'Magnetic East', 'Vertical Down']

In [7]:
df.head()   
df.tail()

,GILL_H,GILL_D,GILL_Z,ATHA_H,ATHA_D,ATHA_Z,FSMI_H,FSMI_D,FSMI_Z,CMO_H,CMO_D,CMO_Z,KIL_H,KIL_D,KIL_Z
t,,,,,,,,,,,,,,,
2010-01-01 00:00:00.000,10730.173828,-105.611000,59283.769531,13887.085938,-116.306999,56318.839844,10771.541992,-230.039993,57891.035156,12915.016602,-172.901001,55504.558594,11048.599609,791.799988,51675.199219
2010-01-01 00:00:00.500,10730.139648,-105.681999,59283.812500,13886.742188,-116.379997,56318.589844,10771.591797,-230.044006,57891.101562,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:00:01.000,10730.174805,-105.629997,59283.769531,13887.029297,-116.267998,56318.792969,10771.673828,-229.998993,57891.148438,12915.043945,-172.871994,55504.585938,NaN,NaN,NaN
2010-01-01 00:00:01.500,10730.147461,-105.681999,59283.800781,13886.719727,-116.436996,56318.558594,10771.658203,-229.957001,57891.164062,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 00:00:02.000,10730.137695,-105.646004,59283.781250,13886.971680,-116.330002,56318.812500,10771.644531,-229.987000,57891.136719,12915.059570,-172.897995,55504.574219,NaN,NaN,NaN

,GILL_H,GILL_D,GILL_Z,ATHA_H,ATHA_D,ATHA_Z,FSMI_H,FSMI_D,FSMI_Z,CMO_H,CMO_D,CMO_Z,KIL_H,KIL_D,KIL_Z
t,,,,,,,,,,,,,,,
2010-01-01 23:59:57.500,10730.027344,-105.069000,59283.125000,13890.614258,-116.178001,56317.894531,10774.804688,-224.432999,57886.957031,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 23:59:58.000,10730.023438,-105.018997,59283.074219,13891.024414,-116.067001,56318.117188,10774.818359,-224.429001,57886.988281,12919.492188,-170.945007,55503.632812,NaN,NaN,NaN
2010-01-01 23:59:58.500,10730.014648,-105.070000,59283.144531,13890.685547,-116.165001,56317.910156,10774.757812,-224.414993,57886.976562,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-01 23:59:59.000,10730.017578,-105.026001,59283.074219,13890.966797,-116.042000,56318.117188,10774.649414,-224.466995,57886.867188,12919.494141,-170.940002,55503.625000,NaN,NaN,NaN
2010-01-01 23:59:59.500,10730.000977,-105.058998,59283.148438,13890.662109,-116.208000,56317.882812,10774.542969,-224.507004,57886.812500,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
meta

,array,code,name,latitude,longitude,cgm_latitude,cgm_longitude,declination,lshell,mlt_midnight,mlt_ut,year,Time Resolution,Coordinates,PI,Institution
0,CARISMA,GILL,Gillam,56.376,265.360,65.97424,333.5210,-0.187716,6.032495,6.962722,17.03728,2010,0.5,"Magnetic North - H, Magnetic East - E , Vertic...",I. Mann,U Alberta
1,AUTUMNX,ATHA,Athabasca,54.714,246.686,61.89895,307.6617,15.719710,4.507197,8.686680,15.31332,2010,0.5,"Magnetic North - H, Magnetic East - E , Vertic...",I. Mann,U Alberta
2,CARISMA,FSMI,Fort Smith,60.017,248.050,67.27014,307.5168,16.412770,6.698157,8.696340,15.30366,2010,0.5,"Magnetic North - H, Magnetic East - E , Vertic...",I. Mann,U Alberta
3,USGS,CMO,Fairbanks,64.870,212.140,65.17272,266.0589,20.521590,5.672059,11.460200,12.53980,2010,1.0,"Magnetic North, local, Magnetic East, local , ...",Carol A. Finn,"United States Geological Survey, 1711 Illinois..."
4,IMAGE,KIL,Kilpisjärvi,69.060,20.770,66.13212,103.1776,7.306278,6.107817,22.318950,1.68105,2010,10.0,"Magnetic North, local, Magnetic East, local , ...",Liisa Juusola,"Finnish Meteorological Institute P.O. Box 503,..."

In [ ]:
# note you can plot with panda's, however there
#is an issue with determining the x-axis ticks
#which serverly slows plotting and is extremely
#memory intesive
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
plt.plot(df['SNKQ Magnetic North - H'])

In [ ]:
col = ['Magnetic North - H', 'Magnetic East - E ', 'Vertical Down - Z ']
b = [x.strip()[-1] for x in col]
b